// 內容
.select{
    &-label{
        font-size: $fsz-2xl;
        line-height: 30px;
        vertical-align: middle;
    }
    &-control{
        width: 324px;
        height: 45px; 
        border: 1px solid $gray-300;
        font-size: $fsz-lg;
        line-height: 26px;
        color: #495057;
        vertical-align: middle;
        padding-left: 19px;
    }    
    @include pad{
        &-label , &-control{
            font-size: $fsz-base;
        }
        &-control{
            width: 237px;
            height: 46px;
            padding-left: 16px;
        }    
    }
    @include mobile{
        &-label , &-control{
            font-size: $fsz-sm;
        }
        &-control{
            font-size: $fsz-sm;
            line-height: 24px;
            flex-grow: 1;
        }
    }
}
.locationCard{
    margin-bottom: 160px;

    &-item{
        width: calc((100%/3) - 4%);
        margin: 0 2% 2% 0;
    }
    &-pic{
        width: 100%;
    }
    &-title{
        border:1px solid $gray-300;
        font-size: $fsz-2xl;
        line-height: 36px;
    }
    &-list{
        border:1px solid $gray-300;
        font-size: $fsz-xl;
    }
    &-listInfo-icon{
        width: 20px;
    }
    &-btn{
        width: 100%;
        font-size: 19px;
        line-height: 27px;
        display: block;
        border:1px solid $gray-300;
        background: $black;
        &:hover{
            background: $secondary-dark;
        }
    }
    @include pad{
        &-item{
            width: calc(100% / 2 - 4%);
            margin: 0 4% 2% 0;
        }
        &-title{
            font-size: $font-size-base;
            line-height: 24px;
            font-weight: bold;
        }
        &-list{
            font-size: $fsz-sm;
        }
        &-btn{
            font-size: $fsz-sm;
            line-height: 21px;
        }
    }
    @include mobile{
        &-item{
            width: 100%;
            margin: 0 0 15px 0;
        }
        &-title{
            font-size: $fsz-sm;
            line-height: 21px;
        }
    }
}